:root{
    --oragnge: rgb(248, 174, 1);
}
*{
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
    box-sizing: border-box;
}

/* scroll bar */
::-webkit-scrollbar{
    width: 10px;
}
::-webkit-scrollbar-track{
    background: rgb(0, 0, 0);
}
::-webkit-scrollbar-thumb{
    background:  var(--oragnge);
    border-radius: 10px;
}

html{
    scroll-behavior: smooth;
}

body{
    background: linear-gradient(to right, rgb(2, 39, 70), #584a07);
    /* background:rgba(5, 5, 5, 0.5); */
    color: rgb(255, 255, 255);
    z-index: -1;
}

#header{
    height: 100vh;
}

.parallex{
    /* background-image: url(./img/hero.jpeg); */
    background: linear-gradient(to left, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 20%, rgba(13, 35, 49, 0.667) 100%),
    url('/img/hero.jpg') no-repeat;
    height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    z-index: 0;
}

.nav-container{
    padding: 10px 5%;
    background:rgba(5, 5, 5, 0.5);
    backdrop-filter: blur(10px);
    position: fixed;
    top: 0;
    width: 100%;
    transition: 0.4s;
    z-index: 100;
}

/* .logo{
    width: 100px;
} */

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0 0 0 auto;
    
}

nav ul li{
    display: inline-block;
    list-style: none;
    margin: 15px 20px;
}

nav ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 20px;
    position: relative;
}

nav ul li a::after{
    content: '';
    width: 0;
    height: 2px;
    background-color:  var(--oragnge);
    position: absolute;
    left: 0;
    bottom: -05px;
    transition: 0.4s;
    border-radius: 30px;
}

nav ul li a:hover::after{
    width: 100%;
}

.header-text{
    margin: 10%;
    margin-top: 0;
    font-size: 20px;
    padding: 10px;
    padding-top: 15%;
   
}

.header-text h1{
    font-size: 40px;
    margin-top: 10px;
    padding-bottom: 15px;
}

.header-text h1 .name{
    color:  var(--oragnge);
    font-size: 50px;
}

.hidden {
    opacity:0;  
}
.console-container {
    /* font-size: 5em; */
    color:white;
    margin:auto;
    margin-top: 0;
    font-size: 35px;
    padding-top: 5%;
}
.console-underscore {
    display:inline-block;
    color:  var(--oragnge);;
    position:relative;
}


/* --------ABOUT------- */
.about{
    /* margin-left: 5%;
    margin-right: 5%; */
    padding: 60px 0;
    background: rgba(0, 0, 0, 0.404);
    backdrop-filter: blur(10px);
}

.about .container{
    display:inline-flex;
    justify-content: space-between;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.about-image{
    margin: 20%;
    transition: 0.4s;
}
.about-image:hover{
    transform: scale(1.2);
}
.about-col1{
    flex-basis: 35%;
    /* align-self: center; */
}
.about-col1 img{
    max-width: 60%;
    width: auto;
    border-radius: 50%;
    
}

.about-col2{
    flex-basis: 60%;
}

.about-title{
    font-size: 40px;
    padding-bottom: 20px;
    color:  var(--oragnge);
    text-align: center;
}

.projects-title{
    font-size: 40px;
    padding-top: 30px;
    padding-bottom: 20px;
    color:  var(--oragnge);
}

.contact-title{
    font-size: 40px;
    padding-bottom: 30px;
    color:  var(--oragnge);
    text-align: center;
}


/* -------Projects ---------*/
.projects{
    padding: 30px 10%;
    text-align: center;
    /* position: relative; */
    z-index: 0;
}

.projects .container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
    z-index: 0;
}

.project-col{
    background: rgba(0, 0, 0, 0.179);
    /* backdrop-filter: blur(10px); */
    padding: 40px;
    font-size: 20px;
    font-weight: 200;
    color: rgb(194, 194, 194);
    border-radius: 30px;
    transition: 0.4s;
    box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.395);
    /* z-index: 1; */
}

.project-col:hover{
    background: rgba(255, 255, 255, 0.066);
    transition: 0.4s;
    /* box-shadow: 0px 0px 16px 15px rgba(0, 0, 0, 0.275); */
    /* transform: translateY(-10px); */
    /* z-index: 0 !important; */
}  

.project-title{
    font-size: 30px;
    margin-bottom: 10px;
    color: var(--oragnge);
}
.basecal-icon{
    border-radius: 50%;
    width: 30%;
    margin-bottom: 4%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.tblmgt-icon{
    width: 30%;
    margin-bottom: 4%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.playicon{
    margin-top: 10px;
    width: 50%;
    transition: 0.4s;
}
.playicon:hover{
    transition: 0.4s;
    transform: scale(1.1);
}
.attr{
    font-size: 8px;
}
.android-icon{
    width: 12%;
    margin-top: 10px;
    margin-bottom: 25px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.project-body .myBtn{
    text-decoration: none;
    cursor: pointer;
    border-radius: 30px;
    color: #ffffff;
    background: transparent;
    margin-top:10px;
    padding: 20px;
    transition: 0.4s;
    border: none;
    font-size: 18px;
}
.project-body .myBtn:hover{
    background: rgba(0, 0, 0, 0.179);;
    color: var(--oragnge);
    transition: 0.4s;
    transform: scale(1.0);
}

/* See More */
.btn-seemore{
    background: rgba(255, 255, 255, 0.116);
    color: #ffffff;
    cursor: pointer;
    padding: 20px;
    border-radius: 30px;
    text-decoration: none;
    transition: 0.4s;
    /* margin-left: 5%; */

  }
.btn-seemore:hover{
    background: var(--oragnge);
    color: #ffffff;
  }
  
  #box{
    width: 80%;
    height: 85vh;
    overflow: hidden;
    background: rgba(48, 48, 48, 0.422);
    backdrop-filter: blur(40px);
    box-shadow: 0 0 10px black;
    border-radius: 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 0;
    padding: 10px;
    text-align: right;
    display: none;
  }
  
  #box span{
    color: rgb(255, 255, 255);
    font-size: 40px;
    display: block;
    margin: 20px 0;
  }
  
  #box h1{
    color: rgb(255, 255, 255)
  }

  .slideshow-container .ss{
    height: 60vh;
    border-radius: 15px;
  }

  .close{
    font-size: 18px;
    color: white;
    padding: 20px 10px;
    cursor: pointer;
    transition: 0.4s;
    /* display: inline-block; */
    /* text-align: right; */
    /* right: 0; */
    /* float: inline-end; */
  }
  .close:hover{
    color: var(--oragnge);
  }
  
  
  /* box content */
  * {box-sizing: border-box}
  body {font-family: Verdana, sans-serif; margin:0}
  .mySlides {display: none}
  img {vertical-align: middle;}
  
  /* Slideshow container */
  .slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
    text-align: center;
  }
  
  /* Caption text */
  .text {
    color: #ffffff;
    font-size: 15px;
    padding: 20px 12px;
    padding-bottom: 0;
    position: relative;
    bottom: 8px;
    width: 100%;
    text-align: center;
  }
  
  /* The dots/bullets/indicators */
  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0;
    background-color: rgb(163, 163, 163);
    border-radius: 50%;
    transition: background-color 0.6s ease;
  }
  .dotset{
      display: inline;
  
  }
  ul{
      display: flex;
      justify-content:center;
      list-style: none;
      padding: 0;
      margin: 0;
  }
  li{
      padding-left: 10px;
      padding-right: 10px;
  }
  
  .active,.dot:hover {
    background-color:var(--oragnge)
  }

  /* Fading animation */
  .fade {
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }
  
  /* On smaller screens, decrease text size */
  @media only screen and (max-width: 300px) {
    .prev, .next,.text {font-size: 11px}
  }

  /* End of see more */


.new-icon{
    padding: 20px;
}

.project-col-comingsoon{
    background: rgba(0, 0, 0, 0.179);
    /* backdrop-filter: blur(10px); */
    padding: 40px;
    font-size: 20px;
    font-weight: 200;
    color: rgb(194, 194, 194);
    border-radius: 30px;
    transition: 0.4s;
    box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.395);
}

.project-col-comingsoon:hover{
    background: rgba(255, 255, 255, 0.066);
    transition: 0.4s;
    /* box-shadow: 0px 0px 16px 15px rgba(0, 0, 0, 0.275); */
    /* transform: translateY(-10px); */
    /* transform: scale(1.1); */
}
.project-col-comingsoon:hover:after{
    z-index: -1;
}
.project-col-comingsoon .content{
    padding-top: 30%;
    padding-bottom: 30%;
}

.project-col .content{
    padding-top: 10%;
    padding-bottom: 10%;
}

 

  /* ----------Contact---------- */
  .contact{
    background: rgba(83, 83, 83, 0.212);
    padding-top: 40px;
  }
  .contact .row{
    display: flex;
  }

  .contact i{
    color: #aaa;
    transition: 0.4s;
    padding: 5%;
    margin-top: 5%;
    margin: 0 auto;
    margin-bottom: 40px;
  }

  .contact i:hover{
    color: var(--oragnge);
    transform: scale(1.1);
  }

  .contact-col1{
    flex-basis: 40%;
    margin: 0 0;
    margin-right: 2%;
    margin-left: 0%;
    padding: 10%;
    padding-top: 8%;
    padding-left: 0%;
    padding-right: 0%;
    text-align: center;
  }

  .contact-col1 p{
    /* text-align: left; */
    /* padding-left: 5%; */
    text-align: center;
  }

.download{
    background: rgba(255, 255, 255, 0.116);
    color: var(--oragnge);
    cursor: pointer;
    padding: 20px;
    border-radius: 30px;
    text-decoration: none;
    transition: 0.4s;
    /* margin-left: 5%; */

  }
.download:hover{
    background: var(--oragnge);
    color: #ffffff;
  }

  #msg{
    resize: none;
  }
  
  .contact-col2{
    flex-basis: 50%;
    margin-bottom: 0px;
    text-align: center;
  }

  .btnSubmit{
    text-decoration: none;
    cursor: pointer;
    border-radius: 10px;
    color: #ffffff;
    background: rgba(255, 255, 255, 0.116);
    margin-top:10px;
    padding: 20px;
    transition: 0.4s;
    border: none;
    width: 100%;
    font-size: 18px;
    margin-bottom: 0 ;
  }
  .btnSubmit:hover{
    /* transform: scale(1.1); */
    background: var(--oragnge);
    color: #ffffff;
  }

  form input, textarea{
    background: rgba(255, 255, 255, 0.116);
    width: 100%;
    border: none;
    outline: none;
    padding: 20px;
    margin: 10px 0;
    color: #fff;
    font-size: 19px;
    border-radius: 10px;
  }

  .copyright{
    text-align: center;
    background: rgba(0, 0, 0, 0.505);
    padding: 2%;
    width: 100%;
    font-size: 16px;
  }





  /* ---------Media Queries----------- */
nav .fa-solid{
    display: none;
    padding: 10px;
}

@media only screen and (max-width: 600px){
    nav .fa-solid{
        display: block;
        font-size: 25px;
        cursor: pointer;
        transition: 0.4s;
    }
    nav .fa-solid:hover{
        color: var(--oragnge);
    }
    .nav-container{
        background: transparent;
        backdrop-filter: blur(0px);
    }

    .menuicon{
        position: absolute;
        top: 0;
        padding: 10px;
        margin-top: 15px;
        background: rgba(0, 0, 0, 0.486);
        border-radius: 20px;
    }
    
    nav ul{
        display: block;
        position:fixed;
        top: 0;
        left: -225px;
        width: 225px;
        height: 100vh;
        /* background: rgba(11, 28, 39, 0.933); */
        background: linear-gradient(to right, rgb(1, 35, 62), #000000d2);
        /* backdrop-filter: blur(10px); */
        padding-top: 45px;
        transition: left 0.4s;
        z-index: 2;
    }


    nav ul li{
        display: block;
        margin: 25px;
        padding: 5px;
        margin-left: 30px;
    }

    nav ul .fa-solid{
        position: absolute;
        top: 15px;
        right: 0px;
        margin-right: 15px;
        cursor: pointer;
    }

    .header-text{
        margin: 10%;
        margin-top: 0;
        font-size: 15px;
        padding: 10px;
        padding-top: 25%;
       
    }
    
    .header-text h1{
        font-size: 30px;
        margin-top: 10px;
        padding-bottom: 15px;
    }


    .header-text h1 .name{
        color:  var(--oragnge);
        font-size: 40px;
    }

    .console-container{
        font-size: 25px;
    }

    .about-title, .projects-title, .contact-title{
        font-size: 35px;
    } 

    .about-col1, .about-col2{
        flex-basis: 100%;
    }

    .about-image{
        margin-left: 20%;
        margin-bottom: 5%;
        margin-top: 5%;
    }
    
    .about-text{
        text-align: center;
        margin: 20px;
    }

    .contact .row{
        display: grid;
    }

    .contact-col1, .contact-col2{
        margin: 0 0;
        padding: 10%;
        flex-basis: 100%;
        text-align: center;
    }

    .contact-col1 .download{
        margin: 0;
    }

    .contact-col1 p, .social{
        text-align: center;
        padding: 0%;
    }
    .copyright{
        text-align: center;
        background: rgba(0, 0, 0, 0.505);
        padding: 2%;
        width: 100%;
        font-size: 12px;
      }
    

  }

  #submitmsg{
    transition: 0.4s;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-bottom: 10px;
    padding-bottom: 20px;
    color: var(--oragnge);
  }